version: '3'

services:
  db:
    image: postgres:latest
    container_name: emolog_db
    volumes:
      - ./docker/pg:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test_db
    ports:
      - '5432:5432'