@charset "UTF-8";
html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-size: 15x;
  line-height: 2;
}

h1 {
  font-size:100px;
  line-height: 1;
  color:#000000;
  font-family: 'Bitter',serif;
}

p {
  font-family: 'Bitter',serif;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

.header {
  width: 960px;
  margin: 0 auto;
  border: solid 1px #000000;
  height: 15%;
}

#wrap {
  clear: both;
  padding: 0;
  margin: 0;
  height: 85%;
}

.content {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  background-color: #fffacd;
}

.global-nav {
  height: 10%;
  width: 100%;

  width: 960px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
}

.global-nav li{
  background-color: #f0f8ff;
  width: 33%;
  float: left;
  margin: 5px 1px;
  text-align: center;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter',serif;
}

.global-nav li a{
  padding: 5px 5%;
 }


.global-nav li a:hover{
  border-bottom: 2px solid;
  padding-bottom: 3px;
  text-decoration: none;
}

/* chat.html 部分*/

.friend-name {
  font-size: 20px;
  font-family: 'Bitter',serif;
}
ul.header_ul{
  width: 100%;
}
ul.header_ul li{
    display: inline-block;
    vertical-align:middle;
    margin: 0;
    padding: 0;
    width: 45%;
}

.emolog {
  margin: 0;
  width: 100%;
  height: 30%;
  background-color: #f5f5f5;
  padding: 5px 5px;
}
.chat {
  padding: 0;
  margin: 0;
  background-color: #fffacd;
  height: 55%;
}
.message {
  padding: 0;
  margin: 0;
  height: 15%;
  background-color: #FFFFFF;
}

.emolog_ul {
    width: 100%;

}

.emolog_ul li {
    text-align: center;
    display: inline-block;
    vertical-align:middle;
    margin: 0;
    padding: 0;
}
.emolog_ul li.emolog-date-cover {
  vertical-align:top;
  width: 10%;
}

.emolog_ul li.emolog-show  {
  width: 80%;
}

.message-box {
  width: 77%;
  text-align: left;
  margin: 0 0;
  padding: 5px 0;
}

.message-btn {
  width: 20%;
  margin: 0 0;
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter',serif;
}

/* emologlist.html*/
.emolog-list {
  height: 90%;
  background-color: #f5f5f5;
  overflow:  auto;
}
.emolog-list li {
  border-bottom: solid 1px #000000;
  list-style: none;
  text-align: center;
}
.emolog-date {
  float:  left;
  text-align: left;
  margin: 5px -5px 0 0;
  font-size: 18px;
  font-family: 'Bitter',serif;
}

/* emologlist.html 終わり*/
/* friendlist.html*/
.header_ul_friendlist {
  width: 100%;
  height: 100%;
  text-align: center;
}
.header_ul_friendlist li{
  text-align: center;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
}
li .add_img {
  /*float: right;*/
  width: 50%;
  padding: 5px;
  height: auto;
}
.header_ul_friendlist li.add-img-wrap{
  width: 10%;
}
.header_ul_friendlist li.adjust-name {
  margin:0;
  width: 10%;
  height: auto;
}
.header_ul_friendlist li.friend-header-name {
  width: 70%;
  height: auto;
  vertical-align:middle;
  text-align: center;
  font-size: 18px;
  font-family: 'Bitter',serif;
}

.friend_ul_list {
    width: 100%;
    height: 100%;
    text-align: center;
}

.friend_ul_list li{
  text-align: center;
  display: inline-block;
  vertical-align:top;
  border-style: hidden;
  margin: 0;
  padding: 0;
}
.friend_ul a:hover {
  text-decoration: none;
}


.friend_ul_list li.friend_ul_img {
   width: 10%;
   height: auto;
}
.friend_ul_list li.friend_ul_name {
   width: 13%;
   padding-top: 5px;
}
.friend_ul_list li.friend_ul_emolog {
   padding-top: 5px;
   width: 75%;
}
.friend_ul_list li.friend_ul_emolog p{
  padding: 0;
  margin: 0;
}
.friend_ul_list li.friend_ul_emolog img{
  padding: 0;
  margin: 0;
}
/* friendlist.html終わり*/
