<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>チャットページ</title>
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body id="chatpage">
  <!-- 戻るボタンと名前の表示-->
  <div class="header">
    <ul class="header_ul">
      <li>
        <a href="emologlist.html"> <img th:src="@{images/arrow_left_24.png}" alt="backbutton"></a>
      </li>
      <li>
        <div class="friend-name">
          <p>hogeさん</p>
        </div>
      </li>
    </ul>
  </div>
  <div id="wrap"><!-- メインコンテンツ-->
    <div class="content">
        <!-- エモログの表示-->
        <div class="emolog">
          <ul class="emolog_ul">
            <li class="emolog-date-cover">
              <p class="emolog-date" th:text="${date}">8/18</p>
            </li>
            <li class="emolog-show">
              <!--自分のエモログの表示-->
              <!--<p class="emoji">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p> -->
              <p class="emoji" th:text="${FriendEmolog}"></p>
              <p>朝 <img th:src="@{images/arrow.png}" alt="emolog_arrow"> 夜</p>
              <!--相手のエモログの表示-->
              <p class="emoji" th:text="${MyEmolog}"></p>
            </li>
          </ul>
          
        </div>
        <!-- チャットの表示-->
        <div class="chat">
        <!-- <p th:text="${MessageBox.text}"> -->

            <!-- <p th:text="${MyChatMessage}">
            <p th:text="${FriendChatMessage}">-->
        </div>
          <!-- 入力ボックス、送信ボタンの表示-->
        <div class="message">
        <!--<form th:object="${MessageBox}" method="post" >
          <input type="text" name="MessageBox" class="message-box" th:field="*{text}" >
          <input type="submit" value="送信" class="message-btn">
        </form>-->
        <form >
          <input type="text" name="MessageBox" class="message-box" >
          <input type="submit" value="送信" class="message-btn">
        </form>
        </div>
      </div>
  </div>

</body>
</html>