<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>エモログリストページ</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
     <!-- 戻るボタンと名前の表示-->
    <section class="header">
      <div class="backbtn">
        <a href="friendlist.html"> <img src="../static/images/arrow_left_24.png" alt="backbutton"></a>
      </div>
      <div class="friend-name">
        <p>hogeさん</p>
      </div>
    </section>

    <div id="wrap"><!-- メインコンテンツ-->
      <div class="content">
       <!-- 日ごとのエモログの一覧を表示-->
       <div class="emolog-list">

          <!-- 本当はjava でデータを取ってきてすべて表示　例を書く-->
         <ul>
            <li><a href="chat.html">
              <p class="emolog-date">8月18日<p>
              <!--相手のエモログの表示-->
              <p class="emoji">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p>
              <img src="../static/images/arrow.png" alt="emolog_arrow">
              </a>
            </li>
            <li>
              <p class="emolog-date">8月17日<p>
              <!--相手のエモログの表示-->
              <p class="emoji">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p>
              <img src="../static/images/arrow.png" alt="emolog_arrow">
            </li>
            <li>
              <p class="emolog-date">8月16日<p>
              <!--相手のエモログの表示-->
              <p class="emoji">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p>
              <img src="../static/images/arrow.png" alt="emolog_arrow">
            </li>
            <li>
              <p class="emolog-date">8月15日<p>
              <!--相手のエモログの表示-->
              <p class="emoji">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p>
              <img src="../static/images/arrow.png" alt="emolog_arrow">
            </li>
          </ul>
       </div>

       <!-- ナビゲーションバーを表示-->
       <nav class="global-nav">
           <li><a href="home.html">Home</a></li>
           <li><a href="friendlist.html">Talk</a></li>
           <li><a href="setting.html">Setting</a></li>
       </nav>
     </div>
    </div>
    <!--<footer>
      <small>(C)2020 Midori-no-tsume</small>
    </footer>-->
  </body>
</html>
