<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>エモログリストページ</title>
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
     <!-- 戻るボタンと名前の表示-->
    <section class="header">
      <div class="backbtn">
        <a href="friendlist.html"> <img src="../static/images/arrow_left_24.png" alt="backbutton"></a>
      </div>
      <div class="friend-name">
        <p>hogeさん</p>
      </div>
    </section>

    <div id="wrap"><!-- メインコンテンツ-->
      <div class="content">
       <!-- 日ごとのエモログの一覧を表示-->
       <div class="emolog-list">

          <!-- 本当はjava でデータを取ってきてすべて表示　例を書く-->
         <ul th:each = "emolog : ${emologs}">
             <div th:object="${emolog}">
             <p class="emolog-date" th:text="*{create_at}"></p>
                <a href="chat.html">
                    <!--相手のエモログの表示-->
                    <div class="emoji" ><p th:utext = "*{contents}"></p></div>
                    <img src="../static/images/arrow.png" alt="emolog_arrow">
                </a>
             </div>
         </ul>
       </div>

       <!-- ナビゲーションバーを表示-->
       <nav class="global-nav">
           <li><a href="home.html">Home</a></li>
           <li><a href="friendlist.html">Talk</a></li>
           <li><a href="setting.html">Setting</a></li>
       </nav>
     </div>
    </div>
    <!--<footer>
      <small>(C)2020 Midori-no-tsume</small>
    </footer>-->
  </body>
</html>
