<!DOCTYPE html>
<html lang="jp" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>エモログリストページ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<!--   <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>-->
<!--   <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>-->
  </head>
  <body>

  <div class="container">
    <ul class="global-navi">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#contact">Contact</a></li>
        <li><a href="#news">Setting</a></li>
    </ul>
<!--      <div class="row">-->
<!--          <div class="col-xs-12 col-sm-offset-3 col-sm-6">-->
<!--              <div class="panel panel-default">-->
<!--                  <div class="panel-heading c-list">-->
<!--                      <span class="title">Contacts</span>-->
<!--                      <ul class="pull-right c-controls">-->
<!--                          <li><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top" title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></li>-->
<!--                          <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><i class="fa fa-ellipsis-v"></i></a></li>-->
<!--                      </ul>-->
<!--                  </div>-->

<!--                  <div class="row" style="display: none;">-->
<!--                      <div class="col-xs-12">-->
<!--                          <div class="input-group c-search">-->
<!--                              <input type="text" class="form-control" id="contact-list-search">-->
<!--                              <span class="input-group-btn">-->
<!--                                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>-->
<!--                              </span>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                  </div>-->

<!--                  <ul class="list-group" id="contact-list">-->
<!--                      <li class="list-group-item">-->
<!--                          <div class="col-xs-12 col-sm-3">-->
<!--                              <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />-->
<!--                          </div>-->
<!--                          <div class="col-xs-12 col-sm-9">-->
<!--                              <span class="name">Scott Stevens</span><br/>-->
<!--                              <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5842 Hillcrest Rd"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">5842 Hillcrest Rd</span><br/></span>-->
<!--                              <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(870) 288-4149"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">(870) 288-4149</span><br/></span>-->
<!--                              <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="scott.stevens@example.com"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">scott.stevens@example.com</span><br/></span>-->
<!--                          </div>-->
<!--                          <div class="clearfix"></div>-->
<!--                      </li>-->
<!--                      <li class="list-group-item">-->
<!--                          <div class="col-xs-12 col-sm-3">-->
<!--                              <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier" class="img-responsive img-circle" />-->
<!--                          </div>-->
<!--                          <div class="col-xs-12 col-sm-9">-->
<!--                              <span class="name">Seth Frazier</span><br/>-->
<!--                              <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="7396 E North St"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">7396 E North St</span><br/></span>-->
<!--                              <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(560) 180-4143"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">(560) 180-4143</span><br/></span>-->
<!--                              <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="seth.frazier@example.com"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">seth.frazier@example.com</span><br/></span>-->
<!--                          </div>-->
<!--                          <div class="clearfix"></div>-->
<!--                      </li>-->
<!--                      <li class="list-group-item">-->
<!--                          <div class="col-xs-12 col-sm-3">-->
<!--                              <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers" class="img-responsive img-circle" />-->
<!--                          </div>-->
<!--                          <div class="col-xs-12 col-sm-9">-->
<!--                              <span class="name">Jean Myers</span><br/>-->
<!--                              <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="4949 W Dallas St"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">4949 W Dallas St</span><br/></span>-->
<!--                              <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(477) 792-2822"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">(477) 792-2822</span><br/></span>-->
<!--                              <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="jean.myers@example.com"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">jean.myers@example.com</span><br/></span>-->
<!--                          </div>-->
<!--                          <div class="clearfix"></div>-->
<!--                      </li>-->
<!--                      <li class="list-group-item">-->
<!--                          <div class="col-xs-12 col-sm-3">-->
<!--                              <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Todd Shelton" class="img-responsive img-circle" />-->
<!--                          </div>-->
<!--                          <div class="col-xs-12 col-sm-9">-->
<!--                              <span class="name">Todd Shelton</span><br/>-->
<!--                              <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5133 Pecan Acres Ln"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">5133 Pecan Acres Ln</span><br/></span>-->
<!--                              <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(522) 991-3367"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">(522) 991-3367</span><br/></span>-->
<!--                              <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="todd.shelton@example.com"></span>-->
<!--                              <span class="visible-xs"> <span class="text-muted">todd.shelton@example.com</span><br/></span>-->
<!--                          </div>-->
<!--                          <div class="clearfix"></div>-->
<!--                      </li>-->
<!--                  </ul>-->
<!--              </div>-->
<!--          </div>-->
<!--  	</div>-->
      <!-- JavaScrip Search Plugin -->
      <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
    </div>
  </body>
</html>
