<!DOCTYPE html>
<html lang="jp" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>フレンドリストページ</title>
    <link th:href="@{/css/style.css}"  rel="stylesheet">
  </head>
  <body>
     <!-- ヘッダー表示-->
    <div class="header">
      <ul class="header_ul_friendlist">
        <li class="adjust-name"></li>
        <li class="friend-header-name">
            <p>友だち</p>
        </li>
        <li class="add-img-wrap">
            <a href="addfriend"> <img src="images/add_img.png" alt="backbutton" class="add_img"></a>
        </li>
      </ul>
    </div>

    <div id="wrap"><!-- メインコンテンツ-->
      <div class="content">
       <!-- 友達の一覧を表示-->
       <div class="emolog-list">

         <ul>
            <li>
              <a href="emologlist">
              <img src="images/icon.png" width="100px" height="100px;" alt="friend_icon">
              <p class="friend-name">hogeさん<p>
              <!--相手の最新のエモログの表示-->
              <p class="emoji">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p>
              <img src="images/arrow.png" alt="emolog_arrow">
              </a>
            </li>

          </ul>
       </div>

       <!-- ナビゲーションバーを表示-->
       <nav class="global-nav">
           <li><a href="home">Home</a></li>
           <li><a href="friendlist">Talk</a></li>
           <li><a href="setting">Setting</a></li>
       </nav>
     </div>
    </div>
    <footer>

      <!--<small>(C)2020 Midori-no-tsume</small>-->
    </footer>
  </body>
</html>
