<!DOCTYPE html>
<html lang="jp" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>フレンドリストページ</title>
    <link th:href="@{/css/style.css}"  rel="stylesheet">
      <link th:href="@{css/bootstrap.css}" rel="stylesheet" >
      <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
      <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
  </head>
  <body>
      <!-- ヘッダー表示-->
      <div class="header">
          <ul class="header_ul_friendlist">
              <li class="adjust-name"></li>
              <li class="friend-header-name">
                  <p>友だち</p>
              </li>
              <li class="add-img-wrap">
                  <a href="addfriend"> <img src="images/add_img.png" alt="backbutton" class="add_img"></a>
              </li>
          </ul>
      </div>

    <div id="wrap"><!-- メインコンテンツ-->
      <div class="content">
          <!-- 友達の一覧を表示-->
          <div class="emolog-list">
              <!-- friends model.addAttribute("friends", 値);　が入る-->
              <ul class="friend_ul" >
              <!--<ul class="friend_ul" th:each="friend:${friends}">
                  <li>
                      <a href="emologlist.html">
                          <ul class="friend_ul_list">
                              <li class="friend_ul_img">
                                  <img src="images/icon.png" width="100px" height="100px;" alt="friend_icon">
                              </li>
                              <li class="friend_ul_name">
                                  <p class="friend-name" th:text="${friend.name}" >hogeさん<p>
                              </li>
                              <li class="friend_ul_emolog" >
                                  <p class="emoji" th:text="${friend.latestemolog}">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p>
                                  <img src="images/arrow.png" alt="emolog_arrow">
                              </li>
                          </ul>
                      </a>
                  </li>-->
                  <!--静的サンプル表示部分-->
                  <li>
                      <a href="emologlist.html">
                          <ul class="friend_ul_list">
                              <li class="friend_ul_img">
                                  <img src="images/icon.png" width="100px" height="100px;" alt="friend_icon">
                              </li>
                              <li class="friend_ul_name">
                                  <p class="friend-name">hogehogeさん<p>
                              </li>
                              <li class="friend_ul_emolog">
                                  <p class="emoji">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p>
                                  <img src="images/arrow.png" alt="emolog_arrow">
                              </li>
                          </ul>
                      </a>
                  </li>
                  <li>
                      <a href="emologlist.html">
                          <ul class="friend_ul_list">
                              <li class="friend_ul_img">
                                  <img src="images/icon.png" width="100px" height="100px;" alt="friend_icon">
                              </li>
                              <li class="friend_ul_name">
                                  <p class="friend-name">hogehogeさん<p>
                              </li>
                              <li class="friend_ul_emolog">
                                  <p class="emoji">&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;&#x1f349;</p>
                                  <img src="images/arrow.png" alt="emolog_arrow">
                              </li>
                          </ul>
                      </a>
                  </li>
              </ul>
          </div>
          <!-- ナビゲーションバーを表示-->
          <nav class="global-nav">
              <li><a href="home">Home</a></li>
              <li><a href="friendlist">Talk</a></li>
              <li><a href="setting">Setting</a></li>
          </nav>
      </div>
    </div>
  </body>
</html>
